<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * @copyright	Copyright (c) 2013 Skyline Technology Ltd (http://extstore.com). All rights reserved.
 * @license		http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
 -->

<config>
	<fieldset name="basic" label="COM_ADVPORTFOLIO_DISPLAY_SETTINGS">
		<field name="num_columns" type="range" label="COM_ADVPORTFOLIO_NUM_COLUMNS" description="COM_ADVPORTFOLIO_NUM_COLUMNS_DESC" default="3" min="1" max="5" step="1"/>
		<field name="show_page_heading" type="radio" label="COM_ADVPORTFOLIO_SHOW_PAGE_HEADING" description="COM_ADVPORTFOLIO_SHOW_PAGE_HEADING_DESC" default="1"><option value="1">JYES</option><option value="0">JNO</option></field>
		<field name="page_heading" type="text" label="COM_ADVPORTFOLIO_PAGE_HEADING" description="COM_ADVPORTFOLIO_PAGE_HEADING_DESC" default="" filter="safehtml"/>
		<field name="show_short_description" type="radio" label="COM_ADVPORTFOLIO_SHOW_SHORT_DESCRIPTION" description="COM_ADVPORTFOLIO_SHOW_SHORT_DESCRIPTION_DESC" default="1"><option value="1">JYES</option><option value="0">JNO</option></field>
		<field name="show_description" type="radio" label="COM_ADVPORTFOLIO_SHOW_DESCRIPTION" description="COM_ADVPORTFOLIO_SHOW_DESCRIPTION_DESC" default="1"><option value="1">JYES</option><option value="0">JNO</option></field>
		<field name="description_position" type="list" label="COM_ADVPORTFOLIO_DESCRIPTION_POSITION" description="COM_ADVPORTFOLIO_DESCRIPTION_POSITION_DESC" default="right"><option value="top">COM_ADVPORTFOLIO_DESCRIPTION_POSITION_TOP</option><option value="bottom">COM_ADVPORTFOLIO_DESCRIPTION_POSITION_BOTTOM</option><option value="left">COM_ADVPORTFOLIO_DESCRIPTION_POSITION_LEFT</option><option value="right">COM_ADVPORTFOLIO_DESCRIPTION_POSITION_RIGHT</option></field>
		<field name="description_width" type="range" label="COM_ADVPORTFOLIO_DESCRIPTION_WIDTH" description="COM_ADVPORTFOLIO_DESCRIPTION_WIDTH_DESC" default="4" min="1" max="11" step="1"/>
		<field name="show_pagination" type="list" label="COM_ADVPORTFOLIO_SHOW_PAGINATION" description="COM_ADVPORTFOLIO_SHOW_PAGINATION_DESC" default="1"><option value="1">JYES</option><option value="2">JNO</option><option value="0">COM_ADVPORTFOLIO_SHOW_PAGINATION_GLOBAL</option></field>
		<field name="show_pagination_results" type="radio" label="COM_ADVPORTFOLIO_SHOW_PAGINATION_RESULTS" description="COM_ADVPORTFOLIO_SHOW_PAGINATION_RESULTS_DESC" default="1"><option value="1">JYES</option><option value="0">JNO</option></field>
		<field name="show_title" type="radio" label="COM_ADVPORTFOLIO_SHOW_TITLE" description="COM_ADVPORTFOLIO_SHOW_TITLE_DESC" default="1"><option value="1">JYES</option><option value="0">JNO</option></field>
	</fieldset>
	<fieldset name="layout" label="COM_ADVPORTFOLIO_LAYOUT_SETTINGS">
		<field name="layout_type" type="list" label="COM_ADVPORTFOLIO_DEFAULT_LAYOUT" description="COM_ADVPORTFOLIO_LAYOUT_DESC" default="default"><option value="default">COM_ADVPORTFOLIO_LAYOUT_DEFAULT</option><option value="grid">COM_ADVPORTFOLIO_LAYOUT_GRID</option><option value="masonry">COM_ADVPORTFOLIO_LAYOUT_MASONRY</option></field>
		<field name="orderby" type="list" label="COM_ADVPORTFOLIO_ORDERBY" description="COM_ADVPORTFOLIO_ORDERBY_DESC" default="rdate"><option value="date">COM_ADVPORTFOLIO_ORDERBY_DATE</option><option value="rdate">COM_ADVPORTFOLIO_ORDERBY_RDATE</option><option value="alpha">COM_ADVPORTFOLIO_ORDERBY_ALPHA</option><option value="ralpha">COM_ADVPORTFOLIO_ORDERBY_RALPHA</option><option value="order">COM_ADVPORTFOLIO_ORDERBY_ORDER</option></field>
	</fieldset>
	<fieldset name="image" label="COM_ADVPORTFOLIO_IMAGE_SETTINGS">
		<field name="image_quality" type="range" label="COM_ADVPORTFOLIO_IMAGE_QUALITY" description="COM_ADVPORTFOLIO_IMAGE_QUALITY_DESC" default="85" min="0" max="100" step="5"/>
		<field name="thumbnail_width" type="number" label="COM_ADVPORTFOLIO_THUMBNAIL_WIDTH" description="COM_ADVPORTFOLIO_THUMBNAIL_WIDTH_DESC" default="200" min="0"/>
		<field name="thumbnail_height" type="number" label="COM_ADVPORTFOLIO_THUMBNAIL_HEIGHT" description="COM_ADVPORTFOLIO_THUMBNAIL_HEIGHT_DESC" default="200" min="0"/>
		<field name="keep_aspect_ratio" type="radio" label="COM_ADVPORTFOLIO_KEEP_ASPECT_RATIO" description="COM_ADVPORTFOLIO_KEEP_ASPECT_RATIO_DESC" default="1"><option value="1">JYES</option><option value="0">JNO</option></field>
	</fieldset>
	<fieldset name="lightbox" label="COM_ADVPORTFOLIO_LIGHTBOX_SETTINGS">
		<field name="lightbox_enabled" type="radio" label="COM_ADVPORTFOLIO_LIGHTBOX_ENABLED" description="COM_ADVPORTFOLIO_LIGHTBOX_ENABLED_DESC" default="1"><option value="1">JYES</option><option value="0">JNO</option></field>
		<field name="lightbox_type" type="list" label="COM_ADVPORTFOLIO_LIGHTBOX_TYPE" description="COM_ADVPORTFOLIO_LIGHTBOX_TYPE_DESC" default="bootstrap"><option value="bootstrap">Bootstrap Modal</option><option value="fancybox">Fancybox</option><option value="glightbox">GLightbox</option></field>
		<field name="lightbox_animation" type="list" label="COM_ADVPORTFOLIO_LIGHTBOX_ANIMATION" description="COM_ADVPORTFOLIO_LIGHTBOX_ANIMATION_DESC" default="fade"><option value="fade">COM_ADVPORTFOLIO_ANIMATION_FADE</option><option value="slide">COM_ADVPORTFOLIO_ANIMATION_SLIDE</option><option value="zoom">COM_ADVPORTFOLIO_ANIMATION_ZOOM</option></field>
	</fieldset>
	<fieldset name="seo" label="COM_ADVPORTFOLIO_SEO_SETTINGS">
		<field name="seo_enabled" type="radio" label="COM_ADVPORTFOLIO_SEO_ENABLED" description="COM_ADVPORTFOLIO_SEO_ENABLED_DESC" default="1"><option value="1">JYES</option><option value="0">JNO</option></field>
		<field name="seo_opengraph" type="radio" label="COM_ADVPORTFOLIO_SEO_OPENGRAPH" description="COM_ADVPORTFOLIO_SEO_OPENGRAPH_DESC" default="1"><option value="1">JYES</option><option value="0">JNO</option></field>
		<field name="seo_twitter_card" type="radio" label="COM_ADVPORTFOLIO_SEO_TWITTER_CARD" description="COM_ADVPORTFOLIO_SEO_TWITTER_CARD_DESC" default="1"><option value="1">JYES</option><option value="0">JNO</option></field>
	</fieldset>
	<fieldset name="performance" label="COM_ADVPORTFOLIO_PERFORMANCE_SETTINGS">
		<field name="cache_enabled" type="radio" label="COM_ADVPORTFOLIO_CACHE_ENABLED" description="COM_ADVPORTFOLIO_CACHE_ENABLED_DESC" default="1"><option value="1">JYES</option><option value="0">JNO</option></field>
		<field name="cache_time" type="number" label="COM_ADVPORTFOLIO_CACHE_TIME" description="COM_ADVPORTFOLIO_CACHE_TIME_DESC" default="3600" min="0"/>
		<field name="lazy_load_enabled" type="radio" label="COM_ADVPORTFOLIO_LAZY_LOAD_ENABLED" description="COM_ADVPORTFOLIO_LAZY_LOAD_ENABLED_DESC" default="1"><option value="1">JYES</option><option value="0">JNO</option></field>
	</fieldset>
</config>